@import "../../responsive.scss";

.searchBar {
  .type {
    button {
      padding: 16px 36px;
      border: 1px solid grey;
      border-bottom: none;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;

      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    height: 64px;
    gap: 5px;

    @include sm {
      flex-direction: column;
      border: none;
    }

    input {
      padding: 0px 10px;
      border: none;
      width: 200px;

      @include lg {
        padding: 0px 5px;
      }

      @include md {
        padding: 0px 5px;
        width: 200px;
      }

      @include sm {
        width: auto;
        padding: 20px;
        border: 1px solid grey;
      }

      &:nth-child(2),
      &:nth-child(3) {
        @include lg {
          width: 140px;
        }

        @include md {
          width: 200px;
        }

        @include sm {
          width: auto;
        }
      }
    }

    button {
      border: none;
      cursor: pointer;
      background-color: yellow;
      flex: 1;

      @include sm {
        padding: 10px;
      }
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}
